<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Timestamp Microservice</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <h1>Timestamp Microservice</h1>
        <br>
        <div>Example usage:<br>https://neotimestamp.herokuapp.com/December%2015,%2015<br>
        https://neotimestamp.herokuapp.com/1450137600</div>
        <br>
        <div>Example output:<br>{ "unix": 1450137600, "natural": December 15, 2015}</div>
      </div>
    </div>
  </body>
</html>
